<!DOCTYPE html>
<html ng-app="articlesApp">
    <head>
      <base href="/"/>
      <meta charset="utf-8">
      <link rel="stylesheet" href="dist/bundle.css">
      <link rel="stylesheet" href="client/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width">
      <script src="node_modules/angular/angular.js"></script>
      <script src="node_modules/angular-resource/angular-resource.js"></script>
      <script src="node_modules/angular-route/angular-route.js"></script>
      <script src="client/angular/controller.js"></script>
    </head>
    <body>
    <div class="wrapper">
        <ng-view></ng-view>
        <div class="logo" ng-controller="ArticleCtrl">{{title}}</div>

        <div ng-controller="ArticlesListCtrl">
            <a href="/new"  class="btn btn-success">Add an article</a>
			<h2>Count articles : {{articles.length}}</h2>
        <div id="hacker-news" ng-repeat="article in articles">
            <h5 class="author">{{article.author}}</h5>
            <img class="image-to-logo" ng-src="{{article.urlToImage}}" />
            <p class="description">{{article.description}}</p>
            <a href="{{article.url}}"><h3 class="title">{{article.title}}</h3></a>
            <time>{{article.publishedAt | date:'dd/MM/yyyy'}}</time>
            <div class="blockPosition">
                <a href="/{{article._id}}/edit" class="btn btn-warning">Edit</a>
                <button class="btn btn-danger"  ng-controller="DeleteArticle" ng-click='delete(article._id)'>Delete</button>
                <a href="/{{article._id}}"  class="btn btn-success">Show</a>
            </div>

        </div>
        <a href="https://newsapi.org/">powered by NewsAPI.org</a>
        </div>

    </div>
    </body>
</html>
