doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bundle.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/server.js')
    body
        block content
