<h3>Hello</h3>
<p> id {{id}}</p>
<div class="wrapperEdit">
    <form name="EditForm">
      <div class="form-group">
            <label for="author" class="col-sm-2 control-label">author</label>
          <div class="col-sm-10">
              <input type="text" ng-model="article.author" name="author" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">title</label>
          <div class="col-sm-10">
                <input id="inputTitle" type="text"  ng-model="article.title" class="form-control"/>
            </div>
        </div>
          <div class="form-group">
              <label for="description" class="col-sm-2 control-label">description</label>
              <div class="col-sm-10">
                  <input type="text"  ng-model="article.description" name="EditForm" ng-minlength="20" class="form-control"/>
              </div>
            </div>
        <div role="alert">
              <span class="error" ng-show="EditForm.EditForm.$error.minlength">
                Too short!</span>
            </div>
        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">url</label>
          <div class="col-sm-10">
                <input type="text" ng-model="article.url" name="url" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="urlToImage" class="col-sm-2 control-label">urlToImage</label>
            <div class="col-sm-10">
                <input  type="text"  ng-model="article.urlToImage" name="urlToImage" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
            <label for="publishedAt" class="col-sm-2 control-label">publishedAt</label>
            <div class="col-sm-10">
                <input type="text"  ng-model="article.publishedAt" name="publishedAt" class="form-control"/>
            </div>
        </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="btnSubmit" type="submit" ng-click='updateArticle()'>Update</button>
            </div>
        </div>
    </form>
</div>
